#logo_img{
    height:65px;
    
}
.navbar-brand
{
    margin-left: 50px;
    margin-right: 50px;
}
#hero_back1{
    background-size: 100% ;
    background-repeat: no-repeat;
    height:360px;
    width:auto;
    background-size: cover;
box-sizing: border-box;
background-position: center center;
    
}
#pop
{
  width:100px;height:100px;display:none;background-color:black;position:absolute;color: white;text-align: center;border-radius: 10px;margin: 5px;
}
#btnModal{
   
    margin-top: 100px;
    margin-left: 20%;
    
}
#btnModalIn{
    margin-left: 20%;
}